---
import GitHub from "./icons/GitHub.astro"
import InProcess from "./icons/InProcess.astro"
import NodeJS from "./icons/NodeJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Html from "./icons/Html.astro"
import React from "./icons/React.astro"
import Javascript from "./icons/Javascript.astro"
import Typescript from "./icons/Typescript.astro"
import Sql from "./icons/Sql.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import { getI18N } from "../i18n/"
const { currentLocale } = Astro
const i18n = getI18N({currentLocale})

const TAGS = {
  HTML: {
    name: "HTML5",
    class: "bg-[#f1662b] text-white",
    icon: Html,
  },
  NODE: {
    name: "Node.js",
    class: "bg-black text-white",
    icon: NodeJS,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-gray-500 text-white",
    icon: React,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#ce9122] text-white",
    icon: Javascript,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#6496cb] text-white",
    icon: Typescript,
  },
  SQL: {
    name: "SQL",
    class: "bg-[#828888] text-white",
    icon: Sql,
  },
}
const PROJECTS = [
  {
    titleKey: "TITLE_PROJECT_1",
    descriptionKey: "TITLE_DESC_1",
    link: "https://apv-frontend-liart.vercel.app/",
    github: "https://github.com/marcebusi/Veterinaria-pacientes",
    image: "/projects/veterinaria.webp",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.NODE, TAGS.TAILWIND],
  },
  {
    titleKey: "TITLE_PROJECT_2",
    descriptionKey: "TITLE_DESC_2",
    process: "https://github.com/marcebusi/gimnasioProgreso",
    image: "/projects/gimnasio-progreso.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT,TAGS.TAILWIND, TAGS.SQL],
  },
  {
    titleKey: "TITLE_PROJECT_3",
    descriptionKey: "TITLE_DESC_3",
    link: "https://recetas-comidas.vercel.app/",
    github: "https://github.com/marcebusi/Recetas-comidas",
    image: "/projects/buscadorRecetas.webp",
    tags: [TAGS.HTML, TAGS.JAVASCRIPT ,TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, titleKey, descriptionKey, tags, link, github, process }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      { i18n[titleKey as keyof typeof i18n] } {/* Acceder a la traducción del título */}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">   { i18n[descriptionKey as keyof typeof i18n] } {/* Acceder a la traducción de la descripción */}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
          {process && (
            <LinkButton href={process}>
              <InProcess class="size-4" />
              In Process
            </LinkButton>
          )}
          </footer>
    </div>
  </div>
</article>
    ))
  }
</div>